{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
<div>
    <h1>About this site</h1>
    <ul>
        <li>
            <p>
                Web site built using python, django and sqlite. Made to build interconnecting
                rooms. Rooms are connected by a many to many relationship. Features I have used
                and learned. I used a choices option and read choices from within models. I
                searched rooms and doors to add to room using checkboxes.
            </p>
        </li>
    </ul>
    <h1>New options</h1>
    <ul>
        <li>
            <p>
                More options to rooms and doors.
            </p>
        </li>
        <li>
            <p>
                Location of doors
            </p>
        </li>
        <li>
            <p>
                Textures for doors
            </p>
        </li>
    </ul>
</div>
{% endblock %}