{% extends "base.html" %}
{% block content %}
<h1>Edit {{ edit_room.name }} Room</h1>
<form name="create" action= "" method="POST">
    {% csrf_token %}
    <label>Room Name: </label>
    <input type="text" name="name" placeholder="{{ edit_room.name }}" value="{{ edit_room.name }}" />
    <br>
    <label>Description: </label>
    <input type="text" name="description" placeholder="{{ edit_room.description }}" />
    <br>
    <label>Shape: </label>
    <input type="text" name="shape" placeholder="{{edit_room.shape }}" />
    <br>
    <label>Width: </label>
    <input type="number" name="width" placeholder="{{edit_room.width }}" />
    <br>
    <label>Height: </label>
    <input type="number" name="height" placeholder="{{ edit_room.height }}" />
    <br>
    {% for door in edit_room.doors.all %}
        <label>{{ door.next_room }}: </label><input type="checkbox" name="doors" value="{{ door.next_room }}" />
    {% endfor %}
    <br />
    <input type="submit" value="Create">
</form>
{% endblock %}