{% extends "base.html" %}
{% block content %}
<h1>Edit {{ edit_room.name }} Room</h1>
<form name="create" action= "" method="POST">
    {% csrf_token %}
    <label>Room Name: </label>
    <input type="text" name="name" placeholder="{{ edit_room.name }}" />
    <br>
    <label>Description: </label>
    <input type="text" name="description" placeholder="{{ edit_room.description }}" />
    <br>
    <label>Shape: </label>
    <input type="text" name="shape" placeholder="{{edit_room.shape }}" />
    <br>
    <label>Width: </label>
    <input type="number" name="width" placeholder="{{edit_room.width }}" />
    <br>
    <label>Height: </label>
    <input type="number" name="height" placeholder="{{ edit_room.height }}" />
    <br>
    <input type="text" list="doors" />
    <datalist name="doors" id="doors">
        {% for door in edit_room.doors %}
            <option value="door">{{ door.next_room.all }}</option>
        {% endfor %}
    </datalist>
    <input type="submit" value="Create">
</form>
{% endblock %}