{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
<h1>One Room to rule them All!</h1>
<div>
    <dl>
        <dt>{{ room.name|capfirst }}</dt>
        <dd>{{ room.description }}</dd>
        <dd>{{ room.shape }}</dd>
        <dd>{{ room.width }}</dd>
        <dd>{{ room.height }}</dd>
        {% if room.doors.all %}
            <dt>Doors</dt>
            {% for door in room.doors.all %}
                <dd>{{ door.next_room }}</dd>
            {% endfor %}
        {% endif %}
    </dl>
</div>
{% endblock %}